<!DOCTYPE html>
<html>

<head>
    <meta charset='UTF-8'>
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
    <link rel="stylesheet" href="https://uitk.learnvest.com/v/1.18.5/css/nm-px/fonts.css" />
    <link rel="stylesheet" href="https://uitk.learnvest.com/v/1.18.5/css/nm-px/icons.css" />
    <link rel="stylesheet" href="https://uitk.learnvest.com/v/1.18.5/css/nm-px/main.css" />
</head>

<body>
    <div id='root'></div>
</body>

</html>